@font-face {
    font-family: 'body';
    src: url(/src/fonts/Garet-Book.ttf);
}

@font-face {
    font-family: 'heading';
    src: url(/src/fonts/Garet-Heavy.ttf);
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

#current-temp-f,
#current-temp-c,
#high-f,
#low-f,
#high-c,
#low-c,
.current-day-time,
.current-day-hourly-f,
.current-day-hourly-c,
.feels-like-temp-f,
.feels-like-temp-c,
.humidity-data,
.wind-data,
.pressure-data,
.cloudiness-data,
.visibility-data {
    font-family: 'body';
}

#title,
#zip-label,
#city-name,
.feels-like-title,
.humidity-title,
.wind-title,
.pressure-title,
.cloudiness-title,
.visibility-title {
    font-family: 'heading';
}

#weather-cont {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70vh;
}

/* #page-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    height: 5vh;
    background-color: rgba(232, 232, 232, .6);
}

#title,
#zip-cont {
    transition: 0.5s;
}

#title {
    font-size: 1.5rem;
    margin-left: 1vw;
}

#zip-label {
    font-size: 1.5rem;
    margin-right: 0.5vw;
}

#zip {
    margin-right: 0.5rem;
}

#zip,
#submit {
    align-self: center;
}

#zip-cont {
    margin-right: 1vw;
}

#weather-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#info-cont {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30vw;
   background-color: rgba(232, 232, 232, .6);
}
#city-name,
#current-temp-f,
#current-temp-c {
    font-size: 2rem;
    /* margin-top: 3vh;
    margin-bottom: 3vh; */
}

#city-name {
    margin-top: 3vh;
    margin-bottom: 3vh;
}



#high-low-temps-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#high-low-f,
#high-low-c {
    display: flex;
    flex-direction: row;
}

#high-f,
#low-f,
#high-c,
#low-c {
    font-size: 1.5rem;
}

#weather-cond {
    width: 30%;
    height: auto;
    margin-bottom: 3vh;
}


.current-day-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    height: 8.75vh;
    width: 30vw;
    background-color: rgba(232, 232, 232, .6);
}

.current-day-time {
    align-self: center;
}

.current-day-temp-cond-cont {
    border: 1px solid black;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-day-hourly-cond {
    width: 20%;
    height:auto;
    align-self: center;
}

.current-day-hourly-temp-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.current-day-hourly-f {
    background-color: blue;
}

.current-day-hourly-c {
    background-color: grey;
}

/* .current-day-hourly-f,
.current-day-hourly-c {

} */

#panels-cont {
    display: grid;
    grid-template-rows: 12.5vh 12.5vh;
    justify-items: center;
    height: 25vh;
    width: 100vw;
}

#panel-1,
#panel-2 {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    background-color: rgba(232, 232, 232, .6);
}

.feels-like-cont,
.humidity-cont,
.wind-cont,
.pressure-cont,
.cloudiness-cont,
.visibility-cont {
    border: 1px solid black;
}

.wind-cont {
    display: flex;
    flex-direction: column;
}