*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

#weather-cont {
    display: flex;
    flex-direction: row;
}

#page-cont {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    height: 5vh;
}

#info-cont {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#city-name,
#current-temp-f,
#current-temp-c {
    font-size: 2rem;
    /* margin-top: 3vh;
    margin-bottom: 3vh; */
}

#city-name {
    margin-top: 3vh;
    margin-bottom: 3vh;
}



#high-low-temps-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#high-low-f,
#high-low-c {
    display: flex;
    flex-direction: row;
}

#high-f,
#low-f,
#high-c,
#low-c {
    font-size: 1.5rem;
}

#weather-cond {
    width: 30%;
    height: auto;
    margin-bottom: 3vh;
}

.current-day-hourly-cond {
    width: 10%;
    height: auto;
}

#panels-cont {
    display: grid;
    grid-template-rows: 12.5vh 12.5vh;
    background-color: orange;
    justify-items: center;
    height: 25vh;
}

#panel-1,
#panel-2 {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
}

.feels-like-cont,
.humidity-cont,
.wind-cont,
.pressure-cont,
.cloudiness-cont,
.visibility-cont {
    border: 1px solid black;
}

.wind-cont {
    display: flex;
    flex-direction: column;
}